#button-refresh {
  width: 100%;
  margin-top: 0.5em;
  padding: 2em;
  font-weight: 700;
  font-size: 2em;
}

#home-container {
  display: flex;
  flex-flow: row-wrap;
  justify-contents: space-around;
  align-items: stretch;
}

.text-input-panel, .translations-panel {
  background: #fffffe;
  padding: 2em;
  flex-grow: 1;
  flex-basis: 50%;
}

.text-input-panel {
  -webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75); flex-basis: 50%;
}

.translations-panel {
  -webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
