<div class="container">


  <div id="home-container">
    <div class="text-input-panel">
      <text-input (wordsEmitter)="cacheWords($event)">
      </text-input>
    </div>
    
    <div class="translations-panel">
      <translations>
      </translations>
    </div>
  </div>

  <button
    (click)="refreshTranslations()"
    id="button-refresh"
    class="btn btn-danger"
    type="submit">
      Refresh
  </button>

</div>
