<div id="translations-component">

  <div class="thead">
    <span class="thead-element">Word</span>
    <span class="thead-element">IPA</span>
    <span class="thead-element">P.O.S</span>
    <span class="thead-element">Translation</span>
  </div>

  <div *ngFor="let _word of words | async" class="tbody">
    <word [word]="_word" class="tr"></word>
  </div>
</div>
