.thead, .tr {
  display: flex;
  flex-flow: row-nowrap;
  justify-content: space-around;

  text-align: center;
}

.thead {
  margin-top: 1.8em;
  font-size: 1.2em;
}

.tr {
  padding: 0.6em;
  font-size: 1.2em;
}

.tr:hover {
  background: #fcfcfc;
  transition: 0.25s;
}

.tbody:nth-child(2n) {
  background: #fafafa;
}

.thead-element {
  width: 100%;
  padding: 0.6em;
  margin-bottom: 0;
  border-bottom: 1px solid black;

  font-weight: 700;
}

.thead-element:not(:last-child) {
  border-right: 1px #000 solid;
}

#refresh {
  width: 100%;
}
