  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" [routerLink]="['/home']">Interlinear</a>
       </div>
     </div>
   </nav>

<main>
	<router-outlet></router-outlet>
</main>
